<div class="modal-dialog modal-width">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">水分補給の記録</h4>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-sub-header">
      <h6 class="modal-sub-title">目標水分量：3.0L</h6>
    </div>
    <div class="modal-body">
      <div>
        <%= form_with model: @health, url: user_healths_update_water_path(@user, @health) do |f| %>
        <form class="form-horizontal">
          <div class="form-group">
            <%= f.label "摂取あり" %>
            <%= f.radio_button :water, true %>
          </div>
          <div class="form-group">
            <%= f.label "摂取なし" %>
            <%= f.radio_button :water, false %>
          </div>
          <div class="form-group">
            <%= f.submit "登録", class: "btn-flat-border w-50" %>
            <button type="button" class="bbtn-cancel-border" data-dismiss="modal">
              キャンセル
            </button>
          </div>
        </form>
        <% end %>
      </div>
    </div>
  </div>
</div>

