<div class="modal-dialog modal-width">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= l(@health.day, format: :long) %>の編集</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-condensed table-hover table-striped" id="table-healths">
          <thead>
            <tr>
              <th rowspan="2">日付</th>
              <th rowspan="2">曜日</th>
              <th colspan="2">体情報</th>
              <th colspan="3">睡眠情報</th>
              <th rowspan="2">水分</th>
              <th rowspan="2">お通じ</th>
              <th rowspan="2">編集</th>
            </tr>
            <tr>
              <th>体重</th>
              <th>体脂肪</th>
              <th>就寝時間(前日)</th>
              <th>起床時間</th>
              <th>睡眠時間</th>
            </tr>
          </thead>
      
          <tbody>
              <tr>
                <!-- 日付 -->
                <td class='<%= css_class(@health.day) %> pr-0 pl-0'><%= l(@health.day, format: :short) %></td>
                <!-- 曜日 -->
                <td class='<%= css_class(@health.day) %>'>
                  <%= $days_of_the_week[@health.day.wday] %>
                </td>
                <!-- 体重 -->
                <td>
                  <% if @health.weight.present? %>
                    <%= @health.weight %>
                    <%= 'kg' %>
                  <% end %>
                </td>
                <!-- 体脂肪 -->
                <td>
                  <% if @health.body_fat.present? %>
                    <%= @health.body_fat %>
                    <%= '%' %>
                  <% end %>
                </td>
                <!-- 就寝時間 -->
                <td>
                  <% if @health.bedtime_at.present?  %>
                    <%= l(@health.bedtime_at, format: :short) %>
                  <% end %>
                </td>
                <!-- 起床時間 -->
                <td>
                  <% if @health.getuptime_at.present? %>
                    <%= l(@health.getuptime_at, format: :short) %>
                  <% end %>
                </td>
                <!-- 睡眠時間 -->
                <td>
                  <% if @health.bedtime_at.present? && @health.getuptime_at.present? %>
                    <%= sleeping_time(@health, @health.bedtime_at, @health.getuptime_at) %>
                  <% end %>
                </td>
                <!-- 水分 -->
                <td>
                  <% if @health.water == true %>
                    <%= "摂取あり" %>
                  <% end %>
                </td>
                <!-- お通じ -->
                <td>
                  <% if @health.bowel_movement == true %>
                    <%= "あり" %>
                  <% end %>
                </td>
                <!-- 編集 -->
                <td>
                  <div>
                  </div>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>