<% provide(:navbar_text, 'white') %>

<div class="container-login">
  <% provide(:home, 'img') %>
  <h1 class="text-center text-white"><%= t('アカウント編集', resource: resource_name.to_s.humanize) %></h1>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= bootstrap_devise_error_messages! %>
    
    <div class="form-group mx-auto w-75">
      <%= f.label :email, class: "text-white mb-0" %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email',
                                                  placeholder: "Email",
                                                  class: 'form-control form-text',
                                                  required: true,
                                                  minlength: '6',
                                                  maxlength: '30' %>
    </div>
  
    <div class="form-group mx-auto w-75">
      <%= f.label :password, class: "text-white mb-0" %>
      <%= f.password_field :password, autocomplete: 'new-password', placeholder: "Password", class: 'form-control form-text' %>
  
      <small class="text-white"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
    </div>
  
    <div class="form-group mx-auto w-75">
      <%= f.label :password_confirmation, class: "text-white mb-0" %>
      <%= f.password_field :password_confirmation, autocomplete: 'new-password', placeholder: "Password Cconfirmation", class: 'form-control form-text'  %>
    </div>
  
    <div class="form-group mx-auto w-75">
      <%= f.label :current_password, class: "text-white mb-0" %>
      <%= f.password_field :current_password, autocomplete: 'current-password',
                                              placeholder: "Current Password",
                                              class: 'form-control form-text',
                                              required: true,
                                              minlength: '6',
                                              maxlength: '30' %>
  
      <small class="text-white"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
    </div>
  
    <div class="form-group mx-auto w-75">
      <%= f.submit t('.update'), class: 'btn btn-primary btn-block button' %>
    </div>
  <% end %>
  
  <div class="form-group mx-auto w-75">
    <%= link_to "トップページ", root_path, class: 'btn btn-info btn-block mb-4 button' %>
    <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: {confirm: t('.are_you_sure')}, method: :delete, class: 'btn btn-danger btn-block button' %>
  </div>
</div>