<% provide(:title, "#{current_user.name}の日記") %>
<% provide(:home, 'bg-article') %>
<% provide(:navbar_text, 'black') %>

<div class="container-fluid show-width">
<div class="w-50"><%= render 'shared/flash_messages' %></div>

  <h1 class="text-center mt-3 mb-5"><%= link_to "Diary", articles_path, class: "text-center show-title" %></h1>
  <div class="row m-auto">
    <div class="col-sm-2 diary-day">
      <Hr Align="center" Width="auto" class="line-top">
      <p class="text-center display-4 mb-0 <%= css_class(@article.created_at) %>">
        <%= @article.created_at.strftime("%d") %>
      </p>
      <div class="d-flex">
        <div class="mx-auto d-flex">
          <p class="lead text-center mb-0">
            <%= @article.created_at.strftime("%m") %>
          </p>
          <p class="lead week <%= css_class(@article.created_at) %>">
            <%= $days_of_the_week[@article.created_at.wday] %>
          </p>  
        </div>
      </div>
      <Hr Align="center" Width="auto" class="line-bottom">
    </div>
    <div class="col-sm-10 mb-5">
      <div class="diary-show-item">
        <p class="diary-show-content show-text-area"><%= @article.content %></p>
        <div class="text-center">
          <%= link_to "編集", edit_article_path(@article), class: "btn diary-edit-button w-50"%>
          <%= link_to "削除", article_path(@article), method: :delete, 
                                                      data: {confirm: "削除しますか？"},
                                                      class: "btn diary-delete-button w-25" %>
        </div>
      </div>
    </div>
  </div>
</div>