<div>
  <%= form_with model: @health do |f| %>
  <form>
    <div class="form-group">
      <%= f.label "摂取あり" %>
      <%= f.radio_button :water, true %>
    </div>
    <div class="form-group">
      <%= f.label "摂取なし" %>
      <%= f.radio_button :water, true %>
    </div>
    <%= f.submit class: "btn btn-primary btn-md" %>
  </form>
  <% end %>
</div>