<h4>edit_today</h4>
<%= form_with model: @health do |f| %>
  <div>
    <form>
      <div class="form-group">
        <%= f.label :weight %>
        <%= f.number_field :weight, class: "", min: 1, max: 150 %>
      </div>
      <div class="form-group">
        <%= f.label :body_fat %>
        <%= f.number_field :body_fat, class: "", min: 0, max: 30 %>
      </div>
      <div class="form-group">
        <%= f.label :bowel_movement %>
        <%= f.check_box :bowel_movement, {}, "true", "false" %>
      </div>
    </form>
  </div>
<% end %>