<h1>目標編集のBody部分です</h1>
<div>
  <%= form_with model: @health do |f| %>
  <form>
    <div class="form-group">
      <%= f.label :weight_goal %>
      <%= f.number_field :weight_goal %>
    </div>
    <div class="form-group">
      <%= f.label :body_fat_goal %>
      <%= f.number_field :body_fat_goal %>
    </div>
    <%= f.submit class: "btn btn-primary btn-md" %>
  </form>
  <% end %>
</div>