<% provide(:title, 'Health一覧') %>
<% provide(:home, '') %>
<% provide(:navbar_text, 'black') %>

<div class="container">
<div class="w-50"><%= render 'shared/flash_messages' %></div>
<h1 class="text-center health-top">Health</h1>
  <div class="row mb-5">
    <div class="col-md-6">
      <div class="health-graph-item">
        <h3 class="user-edit-center"><%= @first_day.strftime("%m月") %></h3>
        <div>
          
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="health-body-item">
        <table class="table table-bordered">
          <h3 class="user-edit-center">目標管理</h3>
          <tr>
            <td class="weight">
              <p class="text-left goal-mb">体重</p>
              <p class="goal-font">
                <% if @health.weight.present? %>
                  <%= @health.weight %>
                <% else %>
                  -- --
                <% end %>
              </p>
              <p class="text-right goal-mb">kg</p>
              </div>
            </td>
            <td class="body-fat">
              <p class="text-left goal-mb">体脂肪</p>
            <p class="goal-font">
              <% if @health.body_fat.present? %>
                <%= @health.body_fat %>
              <% else %>
                -- --
              <% end %>
            </p>
            <p class="text-right goal-mb"> % </p>
            </td>
          </tr>
          <tr class="goal">
            <td class="weight-goal">
              <p class="mb-1 goal-name">目標体重</p>
              <div class="target text-right">
                <p class="goal-integer">
                  <% if @health.weight_goal.present? %>
                    <%= @health.weight_goal %>
                  <% else %>
                    -- -- 
                  <% end %>
                </p>
                <p class="mb-0">kg</p>
              </div>
            </td>
            <td class="bodyfat-goal">
              <p class="mb-1 goal-name">目標体脂肪</p>
              <div class="target text-right">
                <p class="goal-integer">
                  <% if @health.body_fat_goal.present? %>
                    <%= @health.body_fat_goal %>
                  <% else %>
                    -- --
                  <% end %>
                </p>
                <p class="per"> % </p>
              </div>
            </td>
          </tr>
        </table>
        <div class="btn-center">
          <%= link_to "登録", edit_user_health_path(@user.user_id, @health), remote: true, class: "btn btn-lg btn-primary w-50 m-auto" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
    <table class="table table-bordered table-condensed table-hover table-striped" id="table-healths">
      <thead>
        <tr>
          <th rowspan="2">日付</th>
          <th rowspan="2">曜日</th>
          <th colspan="2">体情報</th>
          <th colspan="3">睡眠情報</th>
          <th rowspan="2">水分</th>
          <th rowspan="2">お通じ</th>
          <th rowspan="2">編集</th>
        </tr>
        <tr>
          <th>体重</th>
          <th>体脂肪</th>
          <th>起床時間</th>
          <th>就寝時間</th>
          <th>睡眠時間</th>
        </tr>
      </thead>
  
      <tbody>
        <% @healths.each do |h| %>
          <tr>
            <!-- 日付 -->
            <td class='<%= css_class(h.day) %>'><%= l(h.day, format: :short) %></td>
            <!-- 曜日 -->
            <td class='<%= css_class(h.day) %>'>
              <%= $days_of_the_week[h.day.wday] %>
            </td>
            <!-- 体重 -->
            <td>
              <% if h.weight.present? %>
                <%= h.weight %>
                <%= 'kg' %>
              <% end %>
            </td>
            <!-- 体脂肪 -->
            <td>
              <% if h.body_fat.present? %>
                <%= h.body_fat %>
                <%= '%' %>
              <% end %>
            </td>
            <!-- 起床時間 -->
            <td></td>
            <!-- 就寝時間 -->
            <td></td>
            <!-- 睡眠時間 -->
            <td></td>
            <!-- 水分 -->
            <td></td>
            <!-- お通じ -->
            <td></td>
            <!-- 編集 -->
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
